@{
    Layout = null;
}

<div class="form-group">
    <div class="col-sm-12 col-md-12">
        <div style="width: 100px!important; float: left; padding: 0px 0px 20px 0px;">
            <input type="button" value="Pesquisar" id="btnSubmit" onclick="" class="btn btn-default" />
        </div>
        @if (ViewBag.btnCreate == true)
        {
            <div style="width: 100px!important; float: left; padding: 0px 0;">
                <input type="button" value="Novo" id="btnCreate" onclick="" class="btn btn-info width-90" />
            </div>
        }
    </div>
</div>