@{
    Layout = null;
}
@if (ViewBag.btnExport)
{
    <div class="navbar-right" style="display:inline-block">
        <span id="btnExportXls" class="fa fa-file-excel-o" style="cursor:pointer"></span>
        @*<span id="btnExportPdf" class="fa fa-file-pdf-o" style="cursor:pointer"></span>*@
    </div>
}

<script>

    $(document).ready(function () {
        $('#btnExportXls').click(function () { ExportExcel(); });
        $('#btnExportPdf').click(function () { ExportPdf(); });        
    });

</script>