<!DOCTYPE html>
<html>

<head>
    
</head>

<body>

    <div>
        <h2>
            <b>Core </b>System
        </h2>
    </div>

    @RenderBody()

    <div>
        <h4>@DateTime.Now</h4>
    </div>

</body>

</html>
