@model List<CORE.Domain.Entities.PAGE>

@{
    Layout = null;
}


@{
    foreach (CORE.Domain.Entities.PAGE page in Model)
    {
        @*<li>
            <a class="accordion-toggle" href="#">
                <span class=""></span>
                <span class="sidebar-title">teste </span>
                <span class="caret"></span>
            </a>
            <ul class="nav sub-nav" style="">*@
                <li>
                    <a href="@Url.Action("Index", "PageCustom", new { page = page.URL})">
                        <span class="@(page.ICON_PAGE)"></span>
                        <span class="sidebar-title">@(page.NAME_MENU)</span>
                    </a>
                </li>
            @*</ul>
        </li>*@

    }


}
