
<div class="table-responsive">
    <section id="content" class="pn">
        <div class="panel-content">
            <span style="text-align:center" class="panel-title fa fa-warning">
                Nenhum registro foi encontrado!
            </span>
        </div>
    </section>
</div>
