@model System.Web.Mvc.HandleErrorInfo

<section id="content" class="pn">
    <div class="center-block mt50 mw800">
        <h1 class="error-title"> Erro :( </h1>
        <h2 class="error-subtitle">Ocorreu um erro e nossa equipe técnica já está trabalhando pra resolver.</h2> @Html.ActionLink("Clique aqui", "lista", "agenda") para voltar ao dashboard
    </div>

</section>
