@model CORE.BackOffice.UI.Controllers.ViewModelCustom 


@using (Ajax.BeginForm("IncludePage", "Map", new AjaxOptions { OnBegin = "StartProgress", HttpMethod = "POST", OnSuccess = "TrataRetornoFinish", OnFailure = "TrataRetorno" }))
    {
        @Html.HiddenFor(model => model.IdPath, new { @Id = "IdPath" })
        <div class="col-sm-12 col-md-12">
            @*@Html.LabelFor(model => model.DESCRIPTION, new { @Class = "control-label col-sm-2 col-md-2" })*@
            <div class="col-sm-8 col-md-8">
                @*@Html.TextBoxFor(model => model.DESCRIPTION, new { @Id = "DESCRIPTION_CREATE", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DESCRIPTION)*@
                    @Html.DropDownListFor(mode => Model.IdPage, Model.DDLPage, new { id = "ddlProfile", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdPage, string.Empty, new { @class = "state-error" })
            </div>
            <input type="submit" value="Incluir" class="col-sm-2 btn btn-info btn-right pull-right" />
        </div>
    }



<script>

    $(document).submit(function () {

        debugger;
        alert();
        $('#IdPath').val($('.jstree-clicked').attr("id"));
    });

</script>