.field-validation-error 
{
    display: block;
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}
 
.input-validation-error {
    border: 1px solid #DE888A !important;
    background-color: #FEE9EA !important;
}

.cursor-point
{
    cursor:pointer;
}

.cursor-point:hover
{
    color:#000!Important;
}

.blockUI {
    z-index: 1030 !important;
}

/*.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}*/


.fa.pisca {
    font-size: 20px;
    color: red;
    opacity: 1;
    animation: anima 750ms ease infinite;
}

@keyframes anima {
    to {
        opacity: 0;
    }
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
}