@model List<CORE.BackOffice.UI.ViewModels.Loja.LojaViewModel>

    @{
        Layout = "~/Views/Shared/_LayoutExport.cshtml";
        ViewBag.Title = "ExportToExcel";
    }
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().IdLoja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nome)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLoja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
            </tr>
        }

    </table>
