@model CORE.BackOffice.UI.ViewModels.User.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Administração - Gestão de Agendamentos";
}

<div class="admin-form theme-info mw500" style="margin-top: 10%;" id="login">
    <div class="row mb15 table-layout">

        <div class="col-xs-6 pln">
            @*<a href="dashboard.html" title="Return to Dashboard">
                <img src="assets/img/logos/logo.png" title="AdminDesigns Logo" class="img-responsive w250">
            </a>*@
        </div>

        <div class="col-xs-6 va-b">
            <div class="login-links text-right">
                <a href="javascript:void(0)" class="" title="False Credentials">Redefinir Senha</a>
            </div>
        </div>
    </div>

    <div class="panel">

        <form method="post" action="ResetPassword" id="contact">
            <div class="panel-body p15">

                <div class="alert alert-micro alert-border-left alert-info pastel alert-dismissable mn" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="fa fa-info pr10"></i> A senha foi enviada para o seu e-mail!
                </div>

            </div>
            <!-- end .form-body section -->
            <div class="panel-footer p25 pv15">

                <div class="section mn">
                    <div class="smart-widget sm-right smr-80">
                        <label for="email" class="field prepend-icon">
                            @*<input type="text" name="email" id="email" class="gui-input" placeholder="E-mail">*@
                            @Html.TextBoxFor(model => model.EMAIL, new { @placeholder = "Digite seu e-mail", @class = "gui-input" })
                            <label for="email" class="field-icon">
                                <i class="fa fa-envelope-o"></i>
                            </label>
                        </label>
                        @Html.ValidationMessageFor(model => model.EMAIL)
                        <button for="email" class="button">Enviar</button>
                    </div>
                    <!-- end .smart-widget section -->

                </div>
                <!-- end section -->

            </div>
            <!-- end .form-footer section -->

        </form>

    </div>

</div>
