.div-btn
{
    width:100px;
}

#btn-cancelar
{
    
}

#btn-remarcar
{
    
}

#btn-confirmar
{

}

img:hover
{
   cursor:pointer;
}

#detalheAgendamentoPanel .fornn-group {
    font-size: 11px !important;
}